a{
    color: #000;
}
#logo{
    height: 80px;
    width: 160px;
}
.home-box{
    background-color: #ff5005c8;
    color: #ffffffef;
    padding: 30px 20px;
    border-radius: 8px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.custom-header{
    background-color: #ff5005ef;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.custom-header a{
    color: white !important;
}
.fundo-pag{
    background-image: url('/images/IMG-FUNDOHOME.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fundo-pag-construcao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box{
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cadastro-box{
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.label-cadastro{
    min-width: 60px;
    font-size: 14px;
}
.btn-personalizado {
  background-color: #ff5005ef; 
  color: white;
  border: none;
}

.btn-personalizado:hover {
  background-color: #e65c00; /* tom um pouco mais escuro no hover */
}
.footer-fixo{
    position: fixed;
    bottom: 0;
    left:  0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
}

/*Estilo para o catálogo */
#card-catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.card {
    width: 18rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-primary {
    background-color: #ff5005ef;
    border: none;
}

.btn-primary:hover {
    background-color: #e65c00;
}
.catalogo-container {
  display: flex;
  flex-wrap: wrap; /* permite várias linhas */
  justify-content: center; /* centraliza os cards */
  gap: 30px; /* espaço entre eles */
  padding: 40px 20px;
  margin-top: 85px;
}

/* Cards um pouco maiores */
.card {
  width: 22rem;
  min-width: 22rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background-color: #ecececc3;
}

.card:hover {
  transform: translateY(-5px);
}

